@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins';
}

body{
    background-color: black;
}

.card{
    width:90%;
    max-width: 470px;
    border-radius:20px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: white;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align:center;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.search input{
    border:0;
    outline:0;
    background: #ebfffc;
    border-radius: 30px;
    color:#555;
    height:60px;
    padding:10px 25px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border:0;
    outline:0;
    background: #ebfffc;
    height:60px;
    border-radius: 50%;
    width:60px;
    cursor:pointer;
}

.search button img{
    height:16px;
    width:14px;
    align-items: center;
}


.weather h1{
    font-size: 80px;
    margin: -18px;
    text-align: center;
}
.weather h2{
    font-size: 35px;
    font-weight: 500;
    margin: -10px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top:50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    

}
.col img{
    margin-right: 15px;
    width: 35px;
    height:30px;
}
.col p{
    align-items:center;
    font-size: 17px;
    
}
.col .humidity{
    align-items:center;
    font-size: 28px;
}
.col .wind{
    align-items:center;
    font-size: 28px;
    
}
.weather{
    display: none;
}

.error{
    text-align: center;
    font-size:20px;
    font-style:bold ;
    color:red;
    margin-top:15px;
    display:none;
}